/* Soluzione qui */


/* TABLET */
@media screen and (min-width: 768px) {

    .container {
	    margin: 1rem 2rem;
    }


    #topbar{
        justify-content: left;
    }

    .recipe-title h2{
        font-size: 2rem;
    }
    

    .recipe-origin{
        display: inline-block;
    }

    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        li{
            flex-basis: calc(100% / 3 - (20px * 2) / 3);    
            flex-shrink: 0;
            min-width: 50px;
        }
    }

    .ads{
        display: block;
    }

    .social-networks .btn{
        width: 100%;
    }

    .presentation{

        img{
            float: left;
            margin-right: 1rem;
        }


    }


}


/* DESKTOP */
@media screen and (min-width: 768px){

}
