/* Soluzione qui */


/* TABLET */
@media screen and (min-width: 768px) {

    .container {
	    padding: 1rem 2rem;
        max-width: 1200px;
    }


    #topbar{
        justify-content: left;
    }

    .recipe-title h2{
        font-size: 2rem;
    }
    

    .recipe-origin{
        display: inline-block;
    }

    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        li{
            flex-basis: calc(100% / 3 - (20px * 2) / 3);    
            flex-shrink: 0;
            min-width: 50px;
        }
    }

    .ads{
        display: block;
    }

    .social-networks .btn{
        width: 100%;
    }

    .presentation{

        img{
            float: left;
            margin-right: 1rem;
        }


    }


}


/* DESKTOP */
@media screen and (min-width: 992px){

    .container {
	   padding: 0;
    }

    .recipe-title h2{
        font-size: 3rem;
    }

    
    .recipe-card{
        display: flex;
        
        .recipe-video{
            max-height: 500px;
        }
    }
    
    .recipe-video{
        width: 70%;
    }

    .recipe-info{   
        width: 30%;
    }


    .quick-notes ul{
        display: block;
    }

    .social-networks .label{
        display: inline-block;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

}
